.nav-tabs {
    float: right;
    margin-right: 10%;
    
}
.card {
    background: #fff;
    border-radius: 2px;
    height: 325px;
    margin: 1rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
.card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
    height: 200px;
    
  }
  .card > .content > ul > li {
    margin-top: 18px;
  }

  .port-card {
height: 400px;;
  }

  .portfolio-container {
    margin-top: 60px;
    margin-bottom: 100px;
  }
  

  .container {
    margin-left: 25%;
    border: 1px white solid;
    background-color:  #fffdd0;
    width: 50%;
  }
  
  body {
    background-image: url("City-in-Florida-USA-Miami-at-sunset-Panorama-4K-Ultra-HD-Wallpaper-for-Desktop-Laptop-Tablet-Mobile-Phones-And-TV-3840x2160--915x515.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    min-height: 1300px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .nav-tabs {
    border: 2px lightgray solid;
 
  }

  .nav-link {
    color: white;
    font-weight: bold;
  }

  .about-container {
    border: 1px white solid;
    background-color:  #fffdd0;
    width: 50%;
    margin-left: 25%;
    height: 600px;
    padding: 20px;
    margin-top: 10%;
  }

  .profile {
    width: 300px;
    height: auto;
    padding: 15px;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  teal;
    color: white;
    text-align: center;
    border-top: 3px solid #2220b4;
 }

 .contact-card {
  border: 1px white solid;
  background-color:  #fffdd0;
  width: 25%;
  margin-left: 35%;
  margin-top: 20px;
 }

 .contactLinks {
   margin-left: 35%;
   
 }

 .card-home {
   height: 400px;
   
 }

 .row-home {
   margin-top: 10%;
   margin-left: 33%;
 }